.tribe-theme-meanmule {

    .page-header {
        display: none;
    }

    .tribe-events-single-event-title,
    .tribe-events-schedule {
        text-align: center;

        h1 {
            font-size: 58px;
        }

        h2 {
            font-weight: normal;
            font-family: 'montserrat';
            text-transform: uppercase;
            letter-spacing: 0.03em;
            font-size: 16px;
        }
    }

    .tribe-events-event-meta {
        .tribe-events-meta-group-venue {
            @include media-above($break-medium) {
                width: 66%;
            }
        }
        .tribe-venue {
            font-size: 28px;
        }
    }
}
