ul.ingredients {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
        border-bottom: 1px solid $gold;
        padding: 10px;
    }
}

// Cocktail List
.cocktail-list {
    text-align: center;

    a {
        color: $gold;
    }
}

.single-cocktail-image {
    display: block;
}

.single-cocktail-row {
    @extend %clearfix;
}

.single-cocktail-ingredients {
    background: #fff;
    
    @include media-above($break-medium) {
        width: 45%;
        float: left;
    }
    
    .wrap {
        padding: 30px;
    }
    
    h5 {
        margin-top: 10px;
    }
}

.single-cocktail-content {
    @include media-above($break-medium) {
        width: 55%;
        float: left;
    }
    
    .wrap {
        padding: 30px;
    }
}
