
// homepage

.homepage {
    position: relative;
    z-index: 10;
    margin-top: 30px;

    @include media-above($break-medium) {
        margin-top: 0;
    }
}


.homepage-title {
    color: #fff;
    text-align: center;
    margin-top: 80px;
    text-shadow: 0px 0px 1px #fff;

    h1 {
        @include font('montserrat');
        font-size: 37px;
        letter-spacing: 0.1em;

        @include media-above($break-medium) {
            font-size: 58px;
        }
    }

    h2 {
        @include font('montserrat');
        font-size: 37px;
        letter-spacing: 0.1em;
        margin-top: 13px;
    }
    h3 {
        @include font('montserrat');
        letter-spacing: 0.3em;
    }
}


// Homepage Related Style

.homepage-push {
    position: relative;
    margin-top: -100px;
    z-index: 10;
}

.homepage .section-article {
    @include scut-clearfix;
    background: $site-background-color;
    padding: 60px;

    @include media-above($break-large) {
        padding: 80px;
    }
}

.section-title {
    @extend %clearfix;
    display: inline-block;
    background: $gold;
    color: #fff;
    text-transform: uppercase;
    font-family: 'montserrat';
    font-size: 12px;
    font-weight: bold;
    padding: 10px 30px;
    letter-spacing: 0.15em;
}

.article-wrap {
    max-width: 800px;
}
