#locations-near-you-map {
    width: 100%;
    height: 400px;
    margin: 0 auto;
}

#location-search-alert {
    font-weight: 600;
    padding: 10px;
    text-align: center;
}

.infoWindow h3,
.location-near-you-box h4 {
    font-weight: 600;
    margin-bottom: .5rem;
}

.infoWindow h3 {
    font-size: 1.2rem;
}

.infoWindow p {
    font-size: .8rem;
}

#locations-near-you {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.location-near-you-box {
    flex: 1;
    flex-basis: 12em;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    border: 1px dotted #000;
    border-radius: 3px;
    margin: 10px;
}

.location-near-you-box p {
    font-size: .75rem;
}


@media all and (max-width: 480px) {
    .location-near-you-box {
        display: block;
        width: 90%;
        margin: 10px auto;
    }
}
