.section-newsletter {
    @extend %clearfix;
    background-image: url('assets/img/charred-wood-blur.jpg');
    background-position: center center;
    background-size: cover;
    padding: 60px 0;

    .join {
        background: #f0f0f0;
        padding: 60px;
        text-align: center;
        margin: auto;
        max-width: 600px;
        box-shadow: 0 4px 20px rgba(0,0,0,0.8);
    }

    h2 {
        @include font(bebas);
        font-size: 52px;
        margin: 0;
    }

    input {
        outline: none;
    }
}
