.our-spirits-page-content {
    @include media-above($break-medium) {
        max-width: $break-medium;
        margin: auto;
    }

    @include media-above($break-large) {
        max-width: $break-large;
        margin: auto;
    }
}

.spirit-listing {
    @include scut-clearfix;
    padding-bottom: 40px;

    .spirit-img {
        @include media-above($break-medium) {
            position: relative;
            float: left;
            width: 30%;
            min-height: 1px;
        }
    }

    .spirit-info {
        @include media-above($break-medium) {
            position: relative;
            float: left;
            width: 70%;
            min-height: 1px;
        }
    }

    .spirit-content {
        padding: 20px 0;
        @include media-above($break-medium) {
            padding: 0 20px;
        }
    }

}
