.parallax-group {
    @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
        perspective: 1px;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective-origin-x: 100%;
    }
    
    .parallax-element {
        @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
            scroll-behavior: smooth;
            position: absolute;
            transform-origin-x: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
    
    .parallax-element:nth-child(1) {
        @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
            transform: translateZ(0);
        }
    }
    
    .parallax-element:nth-child(2) {
        @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
            transform: translateZ(-1px);
        }
    }
    .parallax-element:nth-child(2) {
        @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
            transform: translateZ(-2px);
        }
    }
}