.photo {
    position: relative;
    overflow: hidden;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba($site-background-color, 0.1);
    }
}
