form {
    input {
        border: 0;
        background: #fff;
        color: #444;
        padding: 12px 26px;
    }
}

.button {
    @include font('montserrat');
    background: $gold;
    color: #fff;
}


.form-inline--input,
.form-inline--button {
    display: inline-block;
    height: 50px;
}

.form-inline {
}
