// ==== CONFIGURATION ==== //

// Set all your configuration variables here!

// Width of the overall site as well as the left and right content columns
$width-site:    1000px;
$width-left:    650px;
$width-right:   350px;

// Breakpoints
$break-small:   320px;
$break-medium:  768px;
$break-large:   1224px;
$break-xlarge:  1824px;

// A standard margin
$spacer:        30px;

// A modest palette; see `_library.scss` for the color() function
// $_color: (
//   text: #333,
//   link: steelblue,
//   link-muted: steelblue,
//   body-background: white,
//   dark: #111,
// );

$gold: #c89a40;
$gold-dark: #ae7f15;
$site-background-color: #F4F4F2;
$text-color: #333;
$black: #111;

/*!
Theme Name: Mean Mule
Author: Patrick Little
Author URI: http://patrick-little.com
Description: Mean Mule Distilling Co
Version: 0.1
Text Domain: meanmule
*/
