// ==== GENERAL ==== //

html {
  font-size: 18px;
}
body {
  background: #f7f6f5 url('assets/img/background.png') repeat;
  color: $text-color;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", "Liberation Sans", Arimo, sans-serif;
  line-height: 1.4444;
  transform: translateZ(0);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.22222;
}
a {
    border: 0;
    color: inherit;
    text-decoration: none;
    transition: color 100ms ease-out;
    color: $gold;
}
figure {
  margin: 0;
}
img {
  height: auto;
  max-width: 100%;
}

p {
    padding-bottom: 1em;
}
