h1 {
    @include font('bebas');
    font-size: 58px;
    margin: 0;
}

h1 a {
    color: $text-color;

    &:hover {
        color: $gold;
    }
}

h2 {
    @include font('bebas');
    font-size: 46px;
    margin: 0;
}

h5,
.entry-meta {
    @include font('montserrat');
    color: $gold-dark;
    font-size: 16px;
    letter-spacing: 0.25em;
}

p {
    line-height: 1.78;
}
