.site-footer {
    background: $black;
    padding: 30px 0;

    @include media-above($break-medium) {
        padding: 60px 0;
    }

    @include media-above($break-large) {
        padding: 90px 0;
    }
}

// Navigation
.footer-navigation {
    margin: 0;
    padding: 0;
    text-align: center;

    li {
        float: none !important;
        margin: 0 !important;
        padding: 0;
        list-style: none;
        line-height: 1.2;
        
        @include media-above($break-medium) {
            display: inline-block;
            margin: 0 25px !important;
        }
    }

    a {
        @include font(montserrat);
        display: block;
        color: #fff;
        font-size: 18px;
        letter-spacing: 4px;
        margin-bottom: 20px;
        
        @include media-above($break-medium) {
            display: inline-block;
            font-size: 14px;
            margin-bottom: 0;
        }
        
        &:hover {
            color: $gold;
        }
    }
}

// Icons

.footer-icons {
    text-align: center;
    margin-top: 50px;
    
    a {
        display: inline-block;
        margin: 0 10px;
        
        svg {
            width: 26px;
            fill: $gold-dark;
            
            &:hover {
                fill: $gold;
            }
        }
    }
}

// Copyright

.copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 13px;
}