// Default Header Layout

.site-branding {
    text-align: center;
    margin-bottom: 30px;
    
    @include media-above($break-medium) {
        display: inline-block;
        text-align: left;
        margin-bottom: 0;
    }
}

.header-logo {
    height: auto;
    width: 140px;
    line-height: 1;
    
    @include media-above($break-medium) {
        display: inline-block;
    }
}

.site-navigation {
    @include media-above($break-medium) {
        display: inline-block;
        float: right;
        margin-top: 30px;
    }
}
// Navigation
.header-navigation {
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 1.2;
        
        @include media-above($break-medium) {
            display: inline-block;
            margin-left: 50px;
        }
    }

    a {
        @include font(montserrat);
        color: #fff;
        letter-spacing: 4px;
        
        font-size: 18px;
        margin-bottom: 20px;
        display: block;
        text-align: center;
        
        @include media-above($break-medium) {
            margin-bottom: 0;
            text-align: left;
            font-size: 14px
        }
        &:hover {
            color: $gold;
        }
    }
}

.page-header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}

// Video in Header

.header-video {
    position: relative;
    overflow: hidden;
    min-height: 90vh;

    video {
        display: none;
        position: absolute;
        top: 50%; 
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        min-width: 100%; 
        min-height: 100%; 
        width: auto; 
        height: auto;
        z-index: -1000; 
        overflow: hidden;
        
        @include media-above($break-medium) {
            display: block;
        }
    }

    div {
        position: relative;
        z-index: 1;
    }
    
    .default-header-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        z-index: 0;
        
        @include media-above($break-medium) {
            display: none;
        }
    }
}

.site-header {
    padding: 30px;
    
    &.inside-page {
        background: $site-background-color;
        
        .header-navigation a {
            color: $black;
            
            &:hover {
                color: $gold-dark;
            }
        }
    }
}