// ==== LAYOUT ==== //

// These wrappers allow for backgrounds and layout options to be defined for each of the four sections (header, content, sidebar, and footer)
// There is also a fifth meta-wrapper to bind content and sidebar on large screens


.site-title {
  margin-top: 0;
  pointer-events: none;
}

.site-description {
  @extend %hide;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}

// Container Layout
.container {
    margin: auto;

    @include media-above($break-medium) {
        max-width: $break-medium;
    }

    @include media-above($break-large) {
        max-width: $break-large;
    }
}
