.page-header {
    text-align: center;
    padding-bottom: 40px;

    h1 {
        display: inline-block;
        border-bottom: 1px solid $gold;
        padding-bottom: 15px;
    }
}

.page-content {
    // margin: auto;
    // max-width: 600px;
}

.site-main {
    background: $site-background-color;
}
