// Sections
// move to posts.scss
.post-date {

}

.section-row {
    @extend %clearfix;
    padding-bottom: 30px;

    @include media-above($break-medium) {
      display: flex; // initialize flexbox
    }
    @include media-above($break-large) {
      max-width: 90%;
    }
}

.section-image {
    position: relative;

    img {
        width: 100%;
        max-height: 100%;

        @include media-above($break-medium) {
            width: auto;
            position: absolute;
            bottom: 0;
            transform: scale(1.1);
            z-index: 10;
            box-shadow: 0 4px 20px rgba(167, 167, 167, 0.5)
        }

        @include media-above($break-large) {
            transform: scale(1.2);
        }
    }
}


// Section with image on the right

.section-img-right {
    flex-direction: row-reverse;
    @include media-above($break-medium) {
        margin-right: auto;
    }

    .section-content {
        position: relative;
        margin-top: -60px;

        @include media-above($break-medium) {
            width: 70%;
            float: right;
        }

    }

    .section-image {
        @include media-above($break-medium) {
            width: 30%;
            float: right;

            img {
                @include media-above($break-large) {
                    transform-origin: top left;
                    left: -20px
                }
            }
        }
    }
}

 // Sectino with image on the left

.section-img-left {
    flex-direction: row;
    @include media-above($break-medium) {
        margin-left: auto;
    }

    .section-content {
        position: relative;
        margin-top: -50px;

        @include media-above($break-medium) {
            margin-top: 0;
            width: 70%;
        }
    }

    .section-image {
        @include media-above($break-medium) {
            width: 30%;
        }

        img {
            top: 20%;

            @include media-above($break-large) {
                right: -20px;
                transform-origin: top right;
            }
        }
    }
}

// Page Content

.page-content {
    @extend %clearfix;
    max-width: 800px;
    margin: auto;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
}
